$primary-color: #f4f4f4;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.container {
  padding-left: 20%;
  padding-right: 20%;
  @media(max-width: $lg) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

header {
  padding: 10px;
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-links {
      display: flex;
      gap: 10px;
      li {
        list-style: none;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

#pages {
  text-align: center;
  padding-bottom: 100px;
  h2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .landing-pages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    img {
      width: 200px; 
      height: auto;
    }
  }
}

#about {
  padding-bottom: 100px;
  h2 {
    text-align: center;
    font-size: 2em;
    padding-bottom: 20px;
  }
}

footer {
  text-align: center;
  p {
    padding-bottom: 50px;
    font-size: .6em;
  }
}